{% extends "main.html" %}
{% block content %}
{% include "loggedheader.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<h4>{{item.name}}
	{% if is_creator %}
	<a href="{{url_for('deleteItem', item_id = item.id)}}" class="pull-right">
		<button class="btn btn-danger" id="new-item">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Item
		</button>
	</a>
	<a href="{{url_for('editItem', item_id = item.id)}}" class="pull-right">
		<button class="btn btn-default" id="new-item">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Item
		</button>
	</a>
	{% endif %}
</h4>
<br>
<br>
<p>{{item.description}}  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<br><span class="price">${{item.price}}</span>
</p>
{% endblock %}
